In [2]:
import pandas as pd
df = pd.read_csv("students_adaptability_level_online_education.csv",sep=",")
df

,Education Level,Institution Type,Gender,Age,Device,IT Student,Location,Financial Condition,Internet Type,Network Type,Flexibility Level
0,University,Private,Male,23,Tab,No,Town,Mid,Wifi,4G,Moderate
1,University,Private,Female,23,Mobile,No,Town,Mid,Mobile Data,4G,Moderate
2,College,Public,Female,18,Mobile,No,Town,Mid,Wifi,4G,Moderate
3,School,Private,Female,11,Mobile,No,Town,Mid,Mobile Data,4G,Moderate
4,School,Private,Female,18,Mobile,No,Town,Poor,Mobile Data,3G,Low
...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Private,Female,18,Mobile,No,Town,Mid,Wifi,4G,Low
1201,College,Private,Female,18,Mobile,No,Rural,Mid,Wifi,4G,Moderate
1202,School,Private,Male,11,Mobile,No,Town,Mid,Mobile Data,3G,Moderate
1203,College,Private,Female,18,Mobile,No,Rural,Mid,Wifi,4G,Low
1204,School,Private,Female,11,Mobile,No,Town,Poor,Mobile Data,3G,Moderate

preprocessing techniques

1 - Check missing “NA” :

In [3]:
missing_values = df.isna().sum()
print("\nTotal number of missing values in the dataset:", missing_values.sum())

Total number of missing values in the dataset: 0

2 -Detect Outlier using mean method :

In [12]:

age_column = df['Age']
mean_age = age_column.mean()
differences_from_mean = abs(age_column - mean_age)

# Find the index of the row with the largest difference from the mean
max_difference_index = differences_from_mean.idxmax()

# Remove the row with the largest difference from the mean
df_no_outlier = df.drop(max_difference_index)


print("\nDataFrame after removing the row with the largest difference from the mean:")
df_no_outlier

DataFrame after removing the row with the largest difference from the mean:

,Education Level,Institution Type,Gender,Age,Device,IT Student,Location,Financial Condition,Internet Type,Network Type,Flexibility Level
0,University,Private,Male,23,Tab,No,Town,Mid,Wifi,4G,Moderate
1,University,Private,Female,23,Mobile,No,Town,Mid,Mobile Data,4G,Moderate
2,College,Public,Female,18,Mobile,No,Town,Mid,Wifi,4G,Moderate
3,School,Private,Female,11,Mobile,No,Town,Mid,Mobile Data,4G,Moderate
4,School,Private,Female,18,Mobile,No,Town,Poor,Mobile Data,3G,Low
...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Private,Female,18,Mobile,No,Town,Mid,Wifi,4G,Low
1201,College,Private,Female,18,Mobile,No,Rural,Mid,Wifi,4G,Moderate
1202,School,Private,Male,11,Mobile,No,Town,Mid,Mobile Data,3G,Moderate
1203,College,Private,Female,18,Mobile,No,Rural,Mid,Wifi,4G,Low
1204,School,Private,Female,11,Mobile,No,Town,Poor,Mobile Data,3G,Moderate

3 -variable transformation:

In [16]:
from sklearn.preprocessing import LabelEncoder
from scipy import stats
le = LabelEncoder()
df['Flexibility Level'] = le. fit_transform(df['Flexibility Level'] )
df['Education Level'] = le. fit_transform(df['Education Level'])
df['Gender'] = le. fit_transform(df['Gender'])
df['Location'] = le. fit_transform(df['Location'])   
df['Internet Type'] = le. fit_transform(df['Internet Type']  ) 
df

,Education Level,Institution Type,Gender,Age,Device,IT Student,Location,Financial Condition,Internet Type,Network Type,Flexibility Level
0,2,Private,1,23,Tab,No,1,Mid,1,4G,2
1,2,Private,0,23,Mobile,No,1,Mid,0,4G,2
2,0,Public,0,18,Mobile,No,1,Mid,1,4G,2
3,1,Private,0,11,Mobile,No,1,Mid,0,4G,2
4,1,Private,0,18,Mobile,No,1,Poor,0,3G,1
...,...,...,...,...,...,...,...,...,...,...,...
1200,0,Private,0,18,Mobile,No,1,Mid,1,4G,1
1201,0,Private,0,18,Mobile,No,0,Mid,1,4G,2
1202,1,Private,1,11,Mobile,No,1,Mid,0,3G,2
1203,0,Private,0,18,Mobile,No,0,Mid,1,4G,1
1204,1,Private,0,11,Mobile,No,1,Poor,0,3G,2

4 -Normalization :

In [19]:
from sklearn.preprocessing import MinMaxScaler

# Extract columns to normalize
columns_to_normalize = ['Age']
data_to_normalize = df[columns_to_normalize]

# Min-Max scaling for selected columns
minmax_scaler = MinMaxScaler()
normalized_data_minmax = minmax_scaler.fit_transform(data_to_normalize)

# Replace the normalized values in the original DataFrame
df[columns_to_normalize] = normalized_data_minmax

print("Min-Max scaled data :")
df

Min-Max scaled data :

,Education Level,Institution Type,Gender,Age,Device,IT Student,Location,Financial Condition,Internet Type,Network Type,Flexibility Level
0,2,Private,1,0.777778,Tab,No,1,Mid,1,4G,2
1,2,Private,0,0.777778,Mobile,No,1,Mid,0,4G,2
2,0,Public,0,0.500000,Mobile,No,1,Mid,1,4G,2
3,1,Private,0,0.111111,Mobile,No,1,Mid,0,4G,2
4,1,Private,0,0.500000,Mobile,No,1,Poor,0,3G,1
...,...,...,...,...,...,...,...,...,...,...,...
1200,0,Private,0,0.500000,Mobile,No,1,Mid,1,4G,1
1201,0,Private,0,0.500000,Mobile,No,0,Mid,1,4G,2
1202,1,Private,1,0.111111,Mobile,No,1,Mid,0,3G,2
1203,0,Private,0,0.500000,Mobile,No,0,Mid,1,4G,1
1204,1,Private,0,0.111111,Mobile,No,1,Poor,0,3G,2

5 -Discretization :

In [25]:
import pandas as pd
df = pd.read_csv("students_adaptability_level_online_education.csv",sep=",")
# Discretization for a specific column ('Age')
column_to_discretize = 'Age'
num_bins = 3 # Number of bins

# Perform discretization using the cut function
df['discretized_' + column_to_discretize] = pd.cut(df[column_to_discretize], bins=num_bins, labels=False)

df[['Age', 'discretized_Age']] # Displaying relevant columns

      Age  discretized_Age
0      23                2
1      23                2
2      18                1
3      11                0
4      18                1
...   ...              ...
1200   18                1
1201   18                1
1202   11                0
1203   18                1
1204   11                0

[1205 rows x 2 columns]

6 -Correlation Coefficient